@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

$primary-clr: hsl(25, 97%, 53%);

//neutral colors
$pure-white: hsl(0, 0%, 100%);
$light-grey: hsl(217, 12%, 63%);
$medium-grey: hsl(216, 12%, 54%);
$dark-blue: hsl(213, 19%, 18%);
$deep-dark-blue: hsl(216, 12%, 8%);

//topography
$fz-primary: 15px;
$ff-primary:  'Overpass', sans-serif;
$fw-normal: 400;
$fw-large: 700;